.root {
  width: 100%;
  table-layout: fixed;
  border-spacing: 0;
  border-collapse: collapse;
}

.root tbody tr:nth-child(2n + 1) {
  background: #e6e6e6;
}

.root tbody td {
  padding: 1rem 0;
}
